{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}
    <h1>{% trans 'Repositories' %}</h1>
    <div id="search" class="col-lg-12">
        <button id="load" class="btn btn-primary">{% trans 'load repos from db' %}</button>
    </div>
<br>
    <div>
        <table class="table table-striped">

            <thead>
            <th>#</th>
            <th>{% trans 'id' %}</th>
            <th>{% trans 'name' %}</th>

            </thead>
            <tbody>
            {% for data_costumer in customer_data_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data_costumer.id }}</td>
                    <td>{{ data_costumer.name }}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>

        <h1>{% trans 'Repos From DB' %}</h1>
        <table class="table table-striped">
            <thead>
            <th>{% trans 'id' %}</th>
            <th>{% trans 'name' %}</th>

            </thead>

            <tbody id="repos">

            </tbody>


        </table>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}

    <script>

        $('#search').on('click', '#load', function () {

            $.get('{% url "alkanza:list_repos_db" %}', function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += "<tr><td>" + data[i].fields.id_repo + "</td><td>" + data[i].fields.name_repo + "</td><tr>";
                }

                $('#repos').html(html);
            });
        });


    </script>

{% endblock %}